* {
  box-sizing: border-box;
}

html {
  background: url(goatsOnEvans-optimized.jpg) no-repeat center center fixed;
  background-size: cover;
}

body {
  font-family: 'Open Sans', Sans-Serif;
  font-size: 15px;
}

h1 {
  font-family: 'Raleway', Sans-Serif;
  font-size: 44px;
  text-align: center;
  text-shadow: 0 0 5px #fff;
}

h2 {
  font-family: 'Raleway', Sans-Serif;
  font-size: 34px;
  text-align: center;
  line-height: 1.2em;
}

.container {
  max-width: 800px;
  margin: 50px auto 100px;
  background:rgba(255,255,255,0.6);
  padding: 20px 40px 40px;
  border-radius: 30px;
}

.status {
  position: fixed;
  top: 0;
  right: 0;
  background:rgba(255,255,255,0.5);
  font-size: 0;
  margin: 0;
  padding: 0;
  border-left: 1px solid #999;
  border-bottom: 1px solid #999;
  border-radius: 0 0 0 20px;
}

.status li {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
}

.status li:first-child {
  border-right: 1px solid #999;
}

.quiz-form {
  line-height: 1.6em;
  font-size: 1.2em;
}

.quiz-form label {
  padding: 0 10px;
}

.choice {
  padding: 3px 0 5px 10px;
}

.choice.correct {
  background-color: rgba(101, 206, 108, 0.8);
  transition: all 0.5s ease;
  border-radius: 5px;
  border: 2px solid white;
}

.choice.incorrect {
  background-color: rgba(186, 0, 0, 0.8);
  transition: all 0.5s ease;
  border-radius: 5px;
  border: 2px solid white;
}

.choice span {
  color: white;
}

nav {
  text-align: center;
}

nav ul {
  margin: 30px 0 0 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin: 0 5px;
}

nav button {
  padding: 10px;
  width: 120px;
  border: none;
  border-radius: 12px;
  background:rgba(52,178,217,0.5);
}

nav button:enabled {
  background: #34b2d9;
  background-image: linear-gradient(to bottom, #34b2d9, #2b97b8);
  color: #fff;
}

nav button:hover:enabled {
  cursor: pointer;
  background: #3cb0fd;
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
}
